.isoForgotPassPage {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    background: url(../../../image/image3.jpg) no-repeat center center;
    background-size: cover;
    justify-content: center;
    text-align: center;
}
.isoForgotPassPage .ant-alert-with-description.ant-alert-no-icon {
    margin-bottom: 10px;
}

.isoForgotPassPage:before {
    content: '';
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: inherit;
}

.isoForgotPassPage .isoFormContentWrapper {
    width: 500px;
    height: 100%;
    overflow-y: auto;
    z-index: 10;
    position: relative;
}

.isoForgotPassPage .isoFormContent {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 70px 50px;
    position: relative;
    background-color: #ffffff;
}

@media only screen and (max-width: 767px) {
    .isoForgotPassPage .isoFormContent {
        width: 100%;
        padding: 70px 20px;
    }
}

.isoForgotPassPage .isoLogoWrapper {
    width: 100%;
    display: flex;
    margin-bottom: 70px;
    justify-content: center;
}

.isoForgotPassPage .isoLogoWrapper a {
    font-size: 24px;
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
}

.isoFormHeadText {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    justify-content: center;
}

.isoForgotPassPage .isoFormHeadText h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 0 7px;
}

.isoForgotPassPage .isoFormHeadText p {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
}

.isoForgotPassPage .isoForgotPassForm {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
}

.isoForgotPassForm .isoInputWrapper {
    margin-bottom: 10px;
}

.isoForgotPassForm .isoInputWrapper:last-child {
    margin-bottom: 0;
}

.isoForgotPassForm .isoInputWrapper input {}

.isoForgotPassForm .isoInputWrapper button {
    height: 42px;
    width: 100%;
    font-weight: 500;
    font-size: 13px;
}